h1 {
  margin: 0 auto;
  font-size: 20px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid greenyellow; */
}

.product {
  background-color: lightcoral;
  padding: 10px;
}

.product img {
  width: 100%;
}
