.Titlecart {
    border:2px solid red ;
}

.Titlecart h1 {
  text-align: center;
  padding-top: 60px;
  
}

/* .red-jacket,
.yellow-jacket {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin: 20px 0px 0px 20px;
  text-align: left;
}

.product-red-jacket,
.product-yellow-jacket {
  display: flex;
  justify-content: space-between;
  align-items: top;
} */

.purchase-details {
    max-width: 1000px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #a9a3a3;
  gap: 20px;
  /* flex-wrap: nowrap; */
  margin: 50px auto;
}

.billing-details {
  flex: 1;
  flex-direction: column;
  background-color: #efeff4;
  display: flex;
  text-align: left;
  padding: 20px;
  border: 2px solid blue;
}

.billing-details-text {
  font-weight: 600;
  margin: 0 auto;
  text-align: left;
}

/* .jacket-details {
  flex: 2;
  border: 2px solid blue;
} */

.checkbtn {
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}


.cart-page {
    max-width: 800px;
    margin: 0 auto;
    background-color: #d4caca;
    padding: 20px;
    /* margin-top: 65px; */

}

.cart-item{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    gap: 50px;
    border: 2px solid red;
}

.cart-image-view{
    width:200px;
    height:200px;
    /* border-radius: 50%; */
    background-size: cover;

}

.breadcrumbs{
    padding: 10px;
    margin-top: 50px;
    border: 2px solid yellow;
}

.breadcrumbs__items{
    display: inline-block;
}


.breadcrumbs__items:not(:last-of-type)::after{
    content: "\203a";
    margin: 0 5px;
    /* color: black; */
}

.breadcrumbs__links{
    color: rgb(68, 66, 66);
}

.breadcrumbs__links:hover{
    text-decoration: underline;
}

.breadcrumbs__links--active{
    font-weight: 600;
    color: rgb(5, 86, 5);

}