.adventure_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  margin: 200px auto;
}

.adventure,
.outdoor,
.seasontype,
.guidance {
  border: 2px solid rgb(218, 211, 211);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 80vh;
  position: relative;
  width: 100%;
}

.adventure {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 100, 0.1)),
    url("../images/homepage-image1.jpg");
}

.outdoor {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 100, 0.3)),
    url("../images/homepage-image2.jpg");
}

.seasontype {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 100, 0.3)),
    url("../images/homepage-image3.jpg");
}

.guidance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 100, 0.3)),
    url("../images/homepage-image4.jpg");
}

.product-featured h1,
.product-featured h2 {
  font-size: 35px;
  margin-left: 20px;
  color: #fff;
}

.adventure_content h1 {
  color: #000;
}

.explore-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  margin-top: 400px;
}
