.jacket-details {
  border: 5px solid red;
  width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.breadcrumb-nav {
  padding: 50px;
  margin-top: 56px;
}

.jacket-card_text {
  margin-top: 20px;
}
