/* .Outdoor-product-types {
  border: 4px solid blue;
} */

.OutdoorProducts {
  /* border: 4px solid rgb(49, 0, 128); */
  margin: 20px;
}

.filter-section form {
  margin-left: 20px;
}

.OutdoorProducts h1 {
  font-size: 40px;
  color: #023373;
  font-weight: normal;
}

.OutdoorProducts h2 {
  font-size: 25px;

  color: #023373;
  font-weight: bold;
}

.productForWomen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
}

.MenProduct {
  margin-right: 2rem;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #ff6347;
  padding: 10px;
}

.jacketList {
  background-color: #f5f1f1;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #e6e8eb;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.jacketList:hover {
  background-color: #bab4b4;
  cursor: pointer;
  transition: all 1s ease;
}

.jacketwrapp1 {
  /* border: 2px solid black; */
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
}

.icon1 {
  font-size: 1.5em;
}

.icon_ratings {
  border: 2px solid red;
}

.jackets-type-heading {
  margin: 20px;
}

.women-jackets {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 0.5px solid rgb(139, 142, 139); */
  margin: 20px;
  /* background-color: rgb(234, 241, 241); */
}

.viewLink {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}
